<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="/static/css/style.css">
    <link rel="shortcut icon" href="/server/static/css/medias/favicon.jpg" type="image/x-icon">
    <title>groupie</title>
</head>

<header>
    <div headercontainer class="headercontainer">
        <div class="texts">
            <a style="text-decoration: none;" class="texthead1" title="link to gitea" href="https://ytrack.learn.ynov.com/git/balexand/groupie-tracker">Groupie</a>
            <a style="text-decoration: none;" class="texthead2" title="refresh" href="http://localhost:8080/">Tracker</a>
        </div>      
        <div class="bardiv">
            <input type="text" class="searchbar" name="inputfilter" list="dataList" autocomplete="off" data-search>
            <div class="filtersshow">Filters
                <div class="filters">
                    <form action="" method="get">
                        <a class="filtertext">Members</a>
                        <input type="checkbox" name="submit" value="member1" id="checkbox1" onclick="validate()">
                        <label for="membersnumber1">1</label>
                        <input type="checkbox" name="submit" value="member2" id="checkbox2" onclick="validate()">
                        <label for="membersnumber1">2</label>
                        <input type="checkbox" name="submit" value="member3" id="checkbox3" onclick="validate()">
                        <label for="membersnumber1">3</label>
                        <input type="checkbox" name="submit" value="member4" id="checkbox4" onclick="validate()">
                        <label for="membersnumber1">4</label>
                        <input type="checkbox" name="submit" value="member5" id="checkbox5" onclick="validate()">
                        <label for="membersnumber1">5</label>
                        <input type="checkbox" name="submit" value="member6" id="checkbox6" onclick="validate()">
                        <label for="membersnumber1">6</label>
                        <input type="checkbox" name="submit" value="member7" id="checkbox7" onclick="validate()">
                        <label for="membersnumber7">7</label>
                    </form>

                    <form action="" method="get" id="slide1">
                        <input type="range" name="firstalbum" min="1963" max="2023" onmousemove="slidechange1()" id="change"> <span id="result" class="filtertext"></span>
                        <label for="firstalbum" class="filtertext">First album date</label>
                    </form>

                    <form action="" method="get" id="slide2">
                        <input type="range" name="created" min="1962" max="2023" onmousemove="slidechange2()" id="change2"> <span id="result2" class="filtertext"></span>
                        <label for="created" class="filtertext">Creation date</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<body>  
    <div class="container">
        <datalist id="dataList">
            {{ range $people := .}}
            {{ range $v := $people.Members}}
            <option value="{{ $v }}">{{ $v }}</option>
            {{ end }}
            <option value="{{ .Name }}">{{ .Name }}</option>
            <option value="{{ .FirstAlbum }}">{{ .FirstAlbum }}</option>
            <option value="{{ .CreationDate }}">{{ .CreationDate }}</option>
            {{ end }}
        </datalist>
        {{ range $people := .}}
        <div class="box" id="box{{ .Id }}" onclick="enlarge('box{{ .Id }}','imgsquare{{ .Id }}','divtext{{ .Id }}')">
            <img src="{{ .Image }}" class="imgsquare" id="imgsquare{{ .Id }}">
            <div class="text", id="divtext{{ .Id }}">
                <div>
                    <a class="title">{{ .Name }}</a>
                </div>
                <div>
                    <span class="greytext">Created in</span>
                    <a class="basictext">{{ .CreationDate }}</a>
                </div>
                <div>
                    <span class="greytext">First album</span>
                    <a class="basictext">{{ .FirstAlbum }}</a>
                </div>
                <div>
                    <span class="greytext">Members</span>
                    <a class="basictext">{{ .Members }}</a> 
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    
    <script>
        const objApi = {{ . }};
    </script>
    <script src="/static/js/index.js" type="text/javascript">
    </script>
</body>
</html>