@font-face {
    font-family: MilkyHoney;
    src: url(/static/css/medias/RosmatikaRegular-BWA45.ttf);
}


.filter {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    margin-top: -10px;
    margin-left: -10px;
    width: 94.3%;
    display: flex;
    justify-content: center;
    padding: 60px;
    color: black;
    background-color: white;
    font-size: large;
}

.texthead::selection {
    background-color: #476582;
    color: white;
}

body {
    background-color: #202329;
}

.navbarsearch {
    position: relative;
    width: 115px;
    height: 30px;
    transition: width 1s;
    font-size: large;
}

.navbarsearch:focus {
    width: 50%;
}

.buttonnav {
    margin-left: -40px;
    margin-top: 5px;
    position: relative;
    width: 35px;
    height: 25px;
    border: none;
    background:url(/static/css/medias/png-clipart-computer-icons-magnifying-glass-symbol-search-glass-magnifier-removebg-preview.png);
    background-size:cover;
}

.navbar {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}


.imgsquare {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}

.square {
    background-color: #476582;
    margin: auto;
    height: 530px;  
    width: 240px;
    margin-top: 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    border-radius: 10px;
  }

.container {
    margin-top: 30px;
}

@media screen and (min-width: 556px) {
    .imgsquare {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;

    }

    .bigsquaretext {
        font-size: 25px;
    }

    .aurevoir {
        color: white;
        position: relative;
        margin-top: 20px;
        margin-left: 250px;
    }
    
    .square {
        height: 240px;
        width: 95%;
    }
}

@media screen and (min-width: 1074px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "detail detail";
        grid-auto-columns: 150px;
    }
    
    .square {
        width: 95%;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: "detail detail detail";
        grid-auto-columns: 150px;
    }
}