@font-face {
    font-family: MilkyHoney;
    src: url(/static/css/medias/RosmatikaRegular-BWA45.ttf);
}

.text {
    display: none;
    color: white;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.filter {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 80px;
    color: black;
    background-color: white;
    font-size: large;
}

.texthead::selection {
    background-color: #476582;
    color: white;
}

.texthead2::selection {
    background-color: #476582;
    color: white;
}

.texthead {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.texthead2 {
    font-size: 15px;
}

body {
    background-color: #202329;
    margin: 0px;
}

.navbarsearch {
    position: relative;
    width: 130px;
    height: 30px;
    transition: width 1s;
    font-size: large;
}

.navbarsearch:focus {
    width: 50%;
}

.buttonnav {
    margin-left: -40px;
    margin-top: 5px;
    position: relative;
    width: 35px;
    height: 25px;
    border: none;
    background:url(/static/css/medias/png-clipart-computer-icons-magnifying-glass-symbol-search-glass-magnifier-removebg-preview.png);
    background-size:cover;
}

.navbar {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.imgsquare {
    border-radius: 10px;
    
}

.container {
    margin-top: 70px;   
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 65px;
}

.box {
    width: 240px;
    height: 240px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}

.box:hover {
    background-color: #271c43;
}

.box:hover > .text {
    display: block;
}

.imgsquare:hover {
    opacity: 0;
}

/* @media screen and (min-width: 616px) {
    .texthead {
        font-size: 37px;
    }
    .texthead2 {
        font-size: 16px;
    }
    .imgsquare {
        border-bottom-left-radius: 10px;

    }
    .bigsquaretext {
        font-size: 25px;
    }
    #box1 {
        grid-column: 1;
    }
    #box2 {
        grid-column: 2;
    }
    .filter {
        margin-top: 20px;
    }
}

@media screen and (min-width: 930px) {
    #box2 {
        grid-column: 2;
    }
    .texthead {
        font-size: 55px;
    }
    .texthead2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    #box3 {
        grid-column: 3;
    }
}

@media screen and (min-width: 1490px) {
    #box4 {
        grid-column: 4;
    }
}

@media screen and (min-width: 1890px) {
    #box5 {
        grid-column: 5;
    }
} */