.bigsquare {
    position: relative;
    margin: auto;
    height: 166px;
    width: 95%;
    outline-style: solid;
    outline-width: 1px;
    border-radius: 30px;
    background-color: #EEEEEE;
}

.square {
    background-color: #D8C8C8;
    margin: auto;
    height: 530px;
    width: 240px;
    margin-top: 20px;
    outline-style: solid;
    outline-width: 1px;
    border-radius: 10px;
  }

.head {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 183px;
    width: 100%;
    background-color: #C5B0A1;
}

@media screen and (min-width: 556px) {
    .aurevoir {
        position: relative;
        margin-top: 20px;
        margin-left: 250px;
    }
    
    .head {
        height: 263px;
    }
    .square {
        height: 240px;
        width: 95%;
        outline-style: solid;
        outline-width: 1px;
    }
    .navbar {
        position: relative;
        margin: auto;
        margin-top: 20px;
        background-color: #EEEEEE;
        height: 60px;
        width: 65%;
        border-radius: 40px;
        outline-style: solid;
        outline-width: 1px;
    }
}

@media screen and (min-width: 1074px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "detail detail";
        grid-auto-columns: 150px;
    }
    .square {
        width: 95%;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: "detail detail detail";
        grid-auto-columns: 150px;
    }
}
